---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout>
    <NavBar />
    
    <main class="flex flex-col items-center text-center p-6">
    <div class="mt-[8vh]">
        <h1 class="text-4xl font-extrabold mb-4">Oops! We can’t find that page.</h1>
        <p class="text-lg">The page that you were looking for was not found.</p>
    </div>
    </main>

</Layout>
