---
import Card from './Card.astro';
import CodeBlock from './CodeBlock.astro';
---

<section class="py-10 px-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 max-w-6xl mx-auto">
        <Card 
         title="Extensive Plugin Support" 
         description="Use plugins to extend/replace core components of ewwii including the configuration language." 
         />
        <Card 
         title="Hot Reload" 
         description="Instantly see changes during development without having to restart your app for fast iteration." 
         />
        <Card 
         title="Simple Configuration" 
         description="Use a simple yet fast configuration language with an easy and intuitive syntax for building your widgets."  
        />
        <Card 
         title="Ecosystem Tooling" 
         description="An ecosystem of tools focused on extending core functionality and providing the best user experience." 
        />
        <Card 
         title="Feather Weight" 
         description="Extremely lightweight on both memory and binary size with the only overhead being GTK4 framework itself." 
        />
        <Card 
         title="X11 + Wayland compatibility" 
         description="Seamlessly create widgets on both X11 and Wayland environments with ease." 
        />
    </div>
</section>
