<section class="section-dark">
  <div class="bg-animated"></div>

  <div class="logo-container">
    <img src="/EwwiiLogo.png" width="82" height="82" alt="Ewwii Logo" class="drop-shadow-xl" />
    <h1 class="text-7xl sm:text-8xl font-extrabold tracking-tight text-gradient animate-gradient-x">
      Ewwii
    </h1>
  </div>

  <h2 class="hero-title">
    “Building Widgets Made Better”
    <span class="underline"></span>
  </h2>

  <p class="hero-desc">
    Ewwii is a lightweight, extensible, and easy to use widget system for building interactive widgets, status bars, and more on both Wayland and X11 quickly.
  </p>

  <div class="hero-cta">
    <a href="/docs/" class="btn btn-primary">Get Started</a>
    <a href="https://github.com/Ewwii-sh" class="btn btn-outline">View on GitHub</a>
  </div>
</section>
