---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content="Ewwii: A Widget System, better, powerful and extensible" />
		<meta property="og:description" content="The official website of ewwii, a GTK widget system for building interactive GUI components with flexibility and extensibility." />
		<meta name="description" content="Ewwii is a GTK widget system for building interactive, flexible, and extensible GUI components. Explore docs, examples, and get started today." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://ewwii-sh.github.io" />
		<meta property="og:image" content="https://ewwii-sh.github.io/EwwiiLogo.png" />
		<meta name="robots" content="index, follow">
		<title>Ewwii: A Widget System, better, powerful and extensible</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	body {
		background: #121111;
	}
</style>
